<div id="page">
  <h1>Proof of Concept</h1>
  <page width="700" height="600" wobble="5">
    <page-row>
      <panel></panel>
      <panel></panel>
      <panel></panel>
    </page-row>
    <page-row>
      <panel></panel>
      <panel></panel>
    </page-row>
    <page-row>
      <panel></panel>
      <panel></panel>
      <panel></panel>
      <panel></panel>
      <panel></panel>
    </page-row>
    <page-row>
      <panel></panel>
      <panel></panel>
      <panel></panel>
      <panel></panel>
    </page-row>

  </page>
</div>
